.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 4.8px;
}

.banner__description {
  width: 720px;
  line-height: 1.3;
  padding-top: 16px;
  font-size: 12.8px;
  max-width: 360px;
  height: 80px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 16px;
  padding-top: 8px;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 8px;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  height: 120px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
